.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  justify-content: center;
  margin: 45px auto;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  > div {
    flex: 1 0 auto;
  }
  .card-image {
    flex: 0 0 350px;
    margin-right: 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
      max-width: 100%;
      height: auto;
      margin: 45px -45px
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  .card-content {
    flex: 1;
    max-width: 350px;
    padding: 25px 25px;
    h2 {
      font-family: $font-family-heading;
      font-size: 1.6rem;
    }
    p {
    }
  }
  .card-description {
  }

  &:nth-child(odd) {
    .card-image {
      order: 2;
      img {
        margin: 45px;
      }
    }
    .card-content {
      order: 1;
    }

  }
}

.card-lifted {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px;
}
